<footer class="p-5 container-fluid bg-dark text-white fw-bold" id="footer">
    <div class="row">
        <div class="col-12 col-md-3 text-end">
            <h3> Sigue nuestras redes sociales!</h3>
        </div>
        <div class="col-12 col-md-6 text-end align-self-center">
            <h4> Tanto Instagram como  Whatsapp te brindamos atención inmediata</h4>
            <a href="https://www.instagram.com/unlimitedfragance2/">
                <i class="bi bi-instagram fs-3 text-white me-4"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=3015415189">
                <i class="bi bi-whatsapp fs-3 text-white me-1"></i>
            </a>
        </div>
    </div>
</footer>
