<div class="sesion" id="lociones">
	<div class="row">
		<div class="col-12">
			<h2 class="title text-center mb-5"> Algunas de nuestras referencias</h2>
		</div>
	</div>

	<div class="row row-cols-1 row-cols-md-3 mt-2">
		<div class="col mb-3" *ngFor="let locion of lociones">
			<div class="card h-100 shadow text-center">,
				<img src= {{locion.foto[0]}}  alt="fotoLocion" class="img-fluid w-100">
				<h2 class="subtitle fw-bold"> {{locion.nombre}} </h2>
			</div>
		</div>
		</div> <a href="../../assets/Catalogo perfumes 75ml (e).pdf" target="_blank"> 
		<br>
		<button type="submit" class="btn btn-primary w-35 my-5" title="Success registering a room" role="button">  
		Revisa aquí nuestro catalogo completo </button> </a>
	<h3 class="subtitle_one">Tenemos muchas más referencias, si tienes una especial, sólo pregúntanos! </h3>	
</div>	