
.sesion{
	background-image: url("../../assets/img/logo.png");
	background-position: top center;
	background-size: auto 100%;
	background-size: cover;
	padding: 15%;
	position: relative;
	width: 100%;
	height: 100%;
}

.lociones::after {
	content: '';
	position: absolute;
	top:0;
	left:0;
	background-color: rgb(0, 0, 0);
	opacity: 0.6;
	width: 100%;
	height: 100%;
}

.title{
	font-size: 2vw;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	position: sticky;
	color: rgb(0, 0, 0);
	border-radius: 22px;
	background-color: white;
	text-align: center;
	letter-spacing: 0.5vw;
}

.subtitle{
	font-size: 2w;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: rgb(0, 0, 0);
	text-align: center;
	letter-spacing: 3px;
}

.subtitle_one{
	font-size: 1.8vw;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: rgb(0, 0, 0);
	border-radius: 22px;
	background-color: white;
	text-align: center;
	letter-spacing: 3px;
	border-radius: 18px;
}

.card {
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color:rgb(143, 143, 143);
border-radius: 50px;
width: 20vw;
column-gap: normal;
    backdrop-filter: blur(12px) saturate(175%);
    -webkit-backdrop-filter: blur(12px) saturate(175%);
    background-color: rgba(52, 55, 59, 0.69);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

img{
	width: 100%;
	height: 26vw;	
}

.btn{
  position: absolute;
  bottom: 160px;
  font-size: larger;
  border: 4px solid rgb(0, 36, 102);
  border-radius: 17px;
  transition: transform 0.4s, background-color 0.3s, color 0.3s ;
}

.btn:hover{
transform: translateY(-12px);
background-color: #d6f6ff;
border: 4px solid rgb(0, 89, 255);
color: #000000;
}

@media screen and (max-width: 600px) {
  /* Estilos específicos para dispositivos con un ancho máximo de 768px */

.subtitle{
	font-size: 7vw;
}

.subtitle_one{
	font-size: 7vw;
}

.title{
	font-size: 9vw;
}

.container {
	height: 100%;
  }

img, .card{
	width: 65vw;
	height: 90vw;

}

.btn{
position: relative;
bottom: 10px;
	}
}