.Banner{
	background-image: url("../../assets/img/Lociones.jpg");
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	padding: 15%;
	position: relative;
	z-index: 1;
}

.Banner::after {
	content: '';
	position: absolute;
	top:0;
	left:0;
	background-color: black;
	opacity: 0.7;
	height: 100%;
	width: 100%;
	z-index: -1;
}

h1{
	font-size: 5vw;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	letter-spacing: 1.3vw;
	font-weight: bold;
	background: linear-gradient(-45deg, #000000, #b1b1b1, #d3d3d3, #ffffff, #647692);
	background-size: 400% 400%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient 10s ease infinite;
	}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

/*from{ opacity: 0.5;}
  to{ opacity: 1;}*/
}



h2{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 405px) {
  /* Estilos específicos para dispositivos con un ancho máximo de 768px */

h2{
font-size: 2vw;
}  

  img {
    height: auto; /* Hace que la altura de la imagen sea automática para dispositivos más pequeños */
    width: 100%;
  }

 .Banner {
    padding: 45%; /* Ajusta el relleno del banner para dispositivos más pequeños */

  }

}
