.Banner{
	background-image: url("../../assets/img/Lociones.jpg");
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	padding: 15%;
	position: relative;
	z-index: 1;
}

.Banner::after {
	content: '';
	position: absolute;
	top:0;
	left:0;
	background-color: black;
	opacity: 0.4;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.title{
	font-size: 5vw;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	letter-spacing: 1.3vw;
	font-weight: bold;
	background: linear-gradient(-45deg, #000000, #3852ff, #130042, #ffffff, #647692);
	background-size: 400% 400%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient 10s ease infinite;
	}

.subtitle{
	font-family: 'Poppins', sans-serif;
	font-size: 2vw;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 768px) {
  /* Estilos específicos para dispositivos con un ancho máximo de 768px */
.title{
font-size: 9.5vw; /* Ajusta el tamaño de fuente para dispositivos más pequeños */
    
}

.subtitle{
	font-size: 5vw;
}  

  img {
    height: auto; /* Hace que la altura de la imagen sea automática para dispositivos más pequeños */
    width: 100%;
  }

 .Banner {
    padding: 10%; /* Ajusta el relleno del banner para dispositivos más pequeños */
	height: 110vw;
  }

}
